.content {
  background: transparent;
  .fitBody();
  padding: 10px;
  margin: 0;
  overflow: scroll;
  width: ~"calc(100% - 20px)";
  border: none;
  font-size: 16px;
  font: 16px "Source Sans", helvetica, arial, sans-serif;
  font-weight: 200;
  resize: none;
}
