@import "components/vendor/topcoat-list-mobile-dark.less";
@import "components/vendor/bootstrap-mixins.less";
@import "components/vendor/bootstrap-variables.less";
@import "components/animations.less";

::selection {
  background: rgba(0,0,0,0.4);
  text-shadow: none;
}

.fitBody(){
  position: absolute;
  top: 18px;
  left: 0;
  bottom: 0;
  right: 0;
}

body {
  background: lightgrey;
}

i.icomatic {
  font-style: normal;
}

@import "components/header.less";
@import "components/nav.less";
@import "components/loader.less";

@import "pages/preview.less";
@import "pages/editor.less";

